<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>

	<modules>
		<module assemblyFile="IntelligentSystems.dll"
						moduleType="IntelligentSystems.ISModule, IntelligentSystems, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						moduleName="IntelligentSystems"
						startupLoaded="true" />
		<module assemblyFile="MathematicalMethodsAnalysisComplexSystems.dll"
						moduleType="MathematicalMethodsAnalysisComplexSystems.MMACSModule, MathematicalMethodsAnalysisComplexSystems, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						moduleName="MathematicalMethodsAnalysisComplexSystems"
						startupLoaded="true" />
		<!--<module assemblyFile="OptimizationMethods.dll"
						moduleType="OptimizationMethods.OMModule, OptimizationMethods, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						moduleName="OptimizationMethods"
						startupLoaded="true" />-->
		<module assemblyFile="FuzzyAnalysisAndModeling.dll"
						moduleType="FuzzyAnalysisAndModeling.FAAMModule, FuzzyAnalysisAndModeling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						moduleName="FuzzyAnalysisAndModeling"
						startupLoaded="true" />
		<module assemblyFile="BasicsOfPedagogyInHigherEducation.dll"
						moduleType="BasicsOfPedagogyInHigherEducation.BOfPIEModule, BasicsOfPedagogyInHigherEducation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
						moduleName="BasicsOfPedagogyInHigherEducation"
						startupLoaded="true" />
	</modules>
</configuration>
