<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <modules>
    <module assemblyFile="OptimizationMethods.dll"                       moduleType="OptimizationMethods.OptimizationMethodsModule, OptimizationMethods, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="OptimizationMethods" startupLoaded="true" />
    <module assemblyFile="MathematicalMethodsAnalysisComplexSystems.dll" moduleType="MathematicalMethodsAnalysisComplexSystems.MathematicalMethodsAnalysisComplexSystemsModule, MathematicalMethodsAnalysisComplexSystems, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MathematicalMethodsAnalysisComplexSystems" startupLoaded="true" />
  </modules>
</configuration>
